footer{
    background-color: black;
    color: bisque;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    font-size: larger;
    bottom: 0%;
}

a{
    color: bisque;
}

header{
    background-color: gainsboro;
    color: firebrick;
    text-align: center;
}

main{
    display: inline;
}