#Edit before using, apply your own keys
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
HTTP_REFERER= http://planta-do-rascunho.gov.br
LOGGER_OPENROUTER=true
NUMBER_OF_MODELS=7
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=planta-do-rascunho